<!DOCTYPE html>
<head>
    <title>
        City Page 2
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="index.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/responsive.css" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200i,300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>
<body>
    <!-- Header section starts -->
    <header class="header">
        <header-block _nghost-c1="" ng-reflect-data="[object Object]" ng-reflect-is-bold="true">
<div _ngcontent-c1="" class="preheader-area" style="background-color:#071B29">
  <div _ngcontent-c1="" class="container">
    <div _ngcontent-c1="" class="blue-header">
      <ul _ngcontent-c1="" class="header-nav-secondary nav nav-pills" style="float:left;">


        <li _ngcontent-c1="" class="dark-cell hide-on-mobile dark-one"><a _ngcontent-c1="" href="#"><img _ngcontent-c1="" src="Assets/chat.png">Chat with Us</a></li>
        <li _ngcontent-c1="" class="black-header-list"><a _ngcontent-c1="" class="hide-on-mobile"><img _ngcontent-c1="" src="Assets/location.png">Change Location</a></li>
        <li _ngcontent-c1=""><a _ngcontent-c1="" class="hide-on-mobile"><img _ngcontent-c1="" src="Assets/geo location.png">Geolocate Me</a></li>

      </ul>
      <div _ngcontent-c1="" class="geolocation-ico">
        <a _ngcontent-c1=""><i _ngcontent-c1="" aria-hidden="true" class="fa fa-map-marker"></i></a>
      </div>
      <ul _ngcontent-c1="" class="header-nav-secondary nav nav-pills" style="float:right;">
        <li _ngcontent-c1=""><a _ngcontent-c1="" class="hide-on-mobile dark-one" href="#">Add Submission</a></li>
        <li _ngcontent-c1=""><a _ngcontent-c1="" class="dark-two" href="http://admin-tin.azurewebsites.net/pages/auth/register">Register</a></li>
        <li _ngcontent-c1=""><a _ngcontent-c1="" class="dark-one" href="http://admin-tin.azurewebsites.net/pages/auth/login">Login</a></li>
        <li _ngcontent-c1="" class="dark-cell  dark"><a _ngcontent-c1="" href="#">Go Premium</a></li>
      </ul>
    </div>
  </div>
</div>
<div _ngcontent-c1="" class="header-wrapper">
  <div _ngcontent-c1="" class="container">
    <div _ngcontent-c1="" class="header-inner">
      <div _ngcontent-c1="" class="header-logo">
        <a _ngcontent-c1="" href="index_v2.html">
          <img _ngcontent-c1="" alt="Logo" class="header-logo-img" src="Assets/TIN-logo.png">
          <span _ngcontent-c1="" class="header-title-caps bold" ng-reflect-ng-class="header-title-caps bold">
            
            <span _ngcontent-c1="" class="span-subtitle"></span>
          </span>
        </a>
      </div>
      

      <div _ngcontent-c1="" class="header-content">

        <div _ngcontent-c1="" class="header-top">
          <div _ngcontent-c1="" class="country-city-names">
            <!--bindings={}-->
            <!--bindings={}-->
            <!--bindings={
  "ng-reflect-ng-if": "true"
}--><div _ngcontent-c1="">
              <div _ngcontent-c1="" class="crumb-city">
                <h3 _ngcontent-c1="" class="city-crumb text-uppercase">
                  <a _ngcontent-c1="" ng-reflect-router-link="/united kingdom" href="/united%20kingdom">united kingdom</a> &gt;
                  <a _ngcontent-c1="" ng-reflect-router-link="/united kingdom/england" href="/united%20kingdom/england">england</a>
                </h3>
                <h3 _ngcontent-c1="" class="city-city text-uppercase">london</h3>
              </div>
            </div>
            <!--bindings={}-->
            <!--bindings={}-->
          </div>
          <div _ngcontent-c1="" class="header-search">
            
            <input _ngcontent-c1="" class="form-control" placeholder="Search..." type="text">
          </div>
          
          <div _ngcontent-c1="" class="header-search">
            <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
            <input _ngcontent-c1="" class="form-control" placeholder="Enter TAG..." type="text">
          </div>
          
        </div>
        

        <div _ngcontent-c1="" class="header-bottom">
          <h3 _ngcontent-c1="">london</h3>

          <!--bindings={
  "ng-reflect-ng-if": "[object Object]"
}--><ul _ngcontent-c1="" class="header-nav-primary nav nav-pills collapse navbar-collapse">
            <hr _ngcontent-c1="" class="header-line">
            <!--bindings={
  "ng-reflect-ng-for-of": ""
}--><li _ngcontent-c1="">
              <a _ngcontent-c1="">Tourism <i _ngcontent-c1="" class="fa fa-chevron-down"></i></a>
              <ul _ngcontent-c1="" class="sub-menu">
                <!--bindings={
  "ng-reflect-ng-for-of": "[object Object],[object Object"
}--><li _ngcontent-c1=""><a _ngcontent-c1="" ng-reflect-router-link="/united kingdom/england/london" href="/united%20kingdom/england/london/c/attractions-%26-recreation">Attractions &amp; Recreation</a>

                </li><li _ngcontent-c1=""><a _ngcontent-c1="" ng-reflect-router-link="/united kingdom/england/london" href="/united%20kingdom/england/london/c/kids-and-family">Kids and Family</a>

                </li><li _ngcontent-c1=""><a _ngcontent-c1="" ng-reflect-router-link="/united kingdom/england/london" href="/united%20kingdom/england/london/c/leisure-activities">Leisure Activities</a>

                </li><li _ngcontent-c1=""><a _ngcontent-c1="" ng-reflect-router-link="/united kingdom/england/london" href="/united%20kingdom/england/london/c/restaurants">Restaurants</a>

                </li><li _ngcontent-c1=""><a _ngcontent-c1="" ng-reflect-router-link="/united kingdom/england/london" href="/united%20kingdom/england/london/c/nightlife">Nightlife</a>

                </li><li _ngcontent-c1=""><a _ngcontent-c1="" ng-reflect-router-link="/united kingdom/england/london" href="/united%20kingdom/england/london/c/shopping">Shopping</a>

                </li>
              </ul>
            </li><li _ngcontent-c1="">
              <a _ngcontent-c1="">Culture <i _ngcontent-c1="" class="fa fa-chevron-down"></i></a>
              <ul _ngcontent-c1="" class="sub-menu">
                <!--bindings={
  "ng-reflect-ng-for-of": "[object Object],[object Object"
}--><li _ngcontent-c1=""><a _ngcontent-c1="" ng-reflect-router-link="/united kingdom/england/london" href="/united%20kingdom/england/london/c/art-%26-museums">Art &amp; Museums</a>

                </li><li _ngcontent-c1=""><a _ngcontent-c1="" ng-reflect-router-link="/united kingdom/england/london" href="/united%20kingdom/england/london/c/art-exhibitions">Art Exhibitions</a>

                </li><li _ngcontent-c1=""><a _ngcontent-c1="" ng-reflect-router-link="/united kingdom/england/london" href="/united%20kingdom/england/london/c/artist-$-craftsperson">Artist / Craftsperson</a>

                </li>
              </ul>
            </li><li _ngcontent-c1="">
              <a _ngcontent-c1="">Services <i _ngcontent-c1="" class="fa fa-chevron-down"></i></a>
              <ul _ngcontent-c1="" class="sub-menu">
                <!--bindings={
  "ng-reflect-ng-for-of": "[object Object],[object Object"
}--><li _ngcontent-c1=""><a _ngcontent-c1="" ng-reflect-router-link="/united kingdom/england/london" href="/united%20kingdom/england/london/c/administrative-services">Administrative Services</a>

                </li><li _ngcontent-c1=""><a _ngcontent-c1="" ng-reflect-router-link="/united kingdom/england/london" href="/united%20kingdom/england/london/c/business-services">Business Services</a>

                </li><li _ngcontent-c1=""><a _ngcontent-c1="" ng-reflect-router-link="/united kingdom/england/london" href="/united%20kingdom/england/london/c/clothing-services">Clothing Services</a>

                </li>
              </ul>
            </li>
          </ul>

          <button _ngcontent-c1="" class="navbar-toggle collapsed" data-target=".header-nav-primary" data-toggle="collapse" type="button">
            <span _ngcontent-c1="" class="sr-only">Toggle navigation</span>
            <span _ngcontent-c1="" class="icon-bar"></span>
            <span _ngcontent-c1="" class="icon-bar"></span>
            <span _ngcontent-c1="" class="icon-bar"></span>
          </button>

        </div>
        
      </div>
      
    </div>
    
  </div>
  
</div>


<div _ngcontent-c1="" class="location-change-hidden location-change-panel-wrapper" ng-reflect-ng-class="location-change-hidden locatio">
  <location-select _ngcontent-c1="" _nghost-c7="" ng-reflect-toggle-location-select-visibility="function () { [native code] }"><div _ngcontent-c7="" class="location-select-container">
 <div _ngcontent-c7="" class="close-btn"><i _ngcontent-c7="" class="fa fa-times"></i></div>
 <div _ngcontent-c7="" class="row">
   <div _ngcontent-c7="" class="col-md-2 col-md-offset-1">
     <!--bindings={
  "ng-reflect-ng-if": "true"
}--><ng-select _ngcontent-c7="" placeholder="Select country" _nghost-c11="" ng-reflect-allow-clear="false" ng-reflect-placeholder="Select country" ng-reflect-items="" ng-reflect-disabled="false" ng-reflect-active="">
  <!--bindings={
  "ng-reflect-ng-if": "true"
}--><div _ngcontent-c11="" class="ui-select-container dropdown open" tabindex="0" ng-reflect-off-click-handler="function () { [native code] }">
    <div _ngcontent-c11="" ng-reflect-ng-class="[object Object]"></div>
    <!--bindings={
  "ng-reflect-ng-if": "true"
}--><div _ngcontent-c11="" class="ui-select-match">
      <span _ngcontent-c11="" class="btn btn-default btn-secondary form-control ui-select-toggle" style="outline: 0;" tabindex="-1">
        <!--bindings={
  "ng-reflect-ng-if": "true"
}--><span _ngcontent-c11="" class="ui-select-placeholder text-muted">Select country</span>
        <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
        <i _ngcontent-c11="" class="dropdown-toggle pull-right"></i>
        <i _ngcontent-c11="" class="caret pull-right"></i>
        <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
      </span>
    </div>
    <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
     
     <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
  
      <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
  </div>

  <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
  </ng-select>
       <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
      </div>
          <div _ngcontent-c7="" class="col-md-2">
            <!--bindings={
  "ng-reflect-ng-if": "true"
}--><ng-select _ngcontent-c7="" placeholder="Select region/state" _nghost-c11="" ng-reflect-allow-clear="false" ng-reflect-placeholder="Select region/state" ng-reflect-items="" ng-reflect-disabled="false" ng-reflect-active="">
  <!--bindings={
  "ng-reflect-ng-if": "true"
}--><div _ngcontent-c11="" class="ui-select-container dropdown open" tabindex="0" ng-reflect-off-click-handler="function () { [native code] }">
    <div _ngcontent-c11="" ng-reflect-ng-class="[object Object]"></div>
    <!--bindings={
  "ng-reflect-ng-if": "true"
}--><div _ngcontent-c11="" class="ui-select-match">
      <span _ngcontent-c11="" class="btn btn-default btn-secondary form-control ui-select-toggle" style="outline: 0;" tabindex="-1">
        <!--bindings={
  "ng-reflect-ng-if": "true"
}--><span _ngcontent-c11="" class="ui-select-placeholder text-muted">Select region/state</span>
        <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
        <i _ngcontent-c11="" class="dropdown-toggle pull-right"></i>
        <i _ngcontent-c11="" class="caret pull-right"></i>
        <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
      </span>
    </div>
    <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
     
     <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
  
      <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
  </div>

  <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
  </ng-select>
              <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
       </div>

        <div _ngcontent-c7="" class="col-md-2">
          <!--bindings={
  "ng-reflect-ng-if": "true"
}--><ng-select _ngcontent-c7="" placeholder="Select city" _nghost-c11="" ng-reflect-allow-clear="false" ng-reflect-placeholder="Select city" ng-reflect-items="" ng-reflect-disabled="false" ng-reflect-active="">
  <!--bindings={
  "ng-reflect-ng-if": "true"
}--><div _ngcontent-c11="" class="ui-select-container dropdown open" tabindex="0" ng-reflect-off-click-handler="function () { [native code] }">
    <div _ngcontent-c11="" ng-reflect-ng-class="[object Object]"></div>
    <!--bindings={
  "ng-reflect-ng-if": "true"
}--><div _ngcontent-c11="" class="ui-select-match">
      <span _ngcontent-c11="" class="btn btn-default btn-secondary form-control ui-select-toggle" style="outline: 0;" tabindex="-1">
        <!--bindings={
  "ng-reflect-ng-if": "true"
}--><span _ngcontent-c11="" class="ui-select-placeholder text-muted">Select city</span>
        <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
        <i _ngcontent-c11="" class="dropdown-toggle pull-right"></i>
        <i _ngcontent-c11="" class="caret pull-right"></i>
        <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
      </span>
    </div>
    <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
     
     <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
  
      <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
  </div>

  <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
  </ng-select>
            <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
      </div>
      <div _ngcontent-c7="" class="col-md-2">
        <!--bindings={
  "ng-reflect-ng-if": "true"
}--><ng-select _ngcontent-c7="" placeholder="Select neighbourhood" _nghost-c11="" ng-reflect-allow-clear="false" ng-reflect-placeholder="Select neighbourhood" ng-reflect-items="" ng-reflect-disabled="false" ng-reflect-active="">
  <!--bindings={
  "ng-reflect-ng-if": "true"
}--><div _ngcontent-c11="" class="ui-select-container dropdown open" tabindex="0" ng-reflect-off-click-handler="function () { [native code] }">
    <div _ngcontent-c11="" ng-reflect-ng-class="[object Object]"></div>
    <!--bindings={
  "ng-reflect-ng-if": "true"
}--><div _ngcontent-c11="" class="ui-select-match">
      <span _ngcontent-c11="" class="btn btn-default btn-secondary form-control ui-select-toggle" style="outline: 0;" tabindex="-1">
        <!--bindings={
  "ng-reflect-ng-if": "true"
}--><span _ngcontent-c11="" class="ui-select-placeholder text-muted">Select neighbourhood</span>
        <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
        <i _ngcontent-c11="" class="dropdown-toggle pull-right"></i>
        <i _ngcontent-c11="" class="caret pull-right"></i>
        <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
      </span>
    </div>
    <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
     
     <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
  
      <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
  </div>

  <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
  </ng-select>
            <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
      </div>
    <div _ngcontent-c7="" class="col-md-2">
    <button _ngcontent-c7="" class="btn btn-primary change-location-btn">Go!</button>
    </div>
  </div>
</div>
</location-select>
</div>
</header-block>
    </header>
    <!-- Header Section Ends -->

<div class="container-fluid p-0">
    <div class="col-sm-12 main-header">
        <!-- <div class="col-sm-6"> -->
            <div class="main-container">
                <div class="sbheader-text">
                    <h3 class="sbheader-head">Discover London</h3>
                    <h5 class="sbheader-head-2"> Clubs, Theaters and Restaurants</h5>
                    <p class="sbheader-txt"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                    <button class="btn-white"><span class="text-blue">READ MORE</span></button>
                </div>
            </div>
        <!-- </div> -->
    </div>    
</div>
        <!-- Section Featured Categ Starts -->
        <section class="featured-categ">
                <div class="wrapper-left">
                <div class="wrapper-back">
                    <div class="main-wrapper">
                        <div class="left-wrapper">
                            <div class="date-time">
                                <div class="date">
                                        <h3 class="ldate">18</h3>
                                    <h3 class="ldate">Feb</h3>
                                </div>
                                <hr class="white-line">
                                <div class="time">
                                    <h5>7:00PM</h5>
                                </div>
                            </div>
                        </div>
                        <div class="right-wrapper">
                            <div class="main-heading">
                                <h3 class="fnt-txt">Lorem Ipsum is simply dummy text</h3>
                            </div>
                            <div class="description">
                                <h5>Lorem Ipsum is simply dummy text </h5>
                            </div>
                            <div class="feature-button">
                                <div class="nb-data-b"><button class="btn-blue1">Tickets</button></div>
                            </div>
                        </div>
                    </div>
                    <div class="main-wrapper">
                        <div class="left-wrapper">
                            <div class="date-time">
                                <div class="date">
                                        <h3 class="ldate">18</h3>
                                    <h3 class="ldate">Feb</h3>
                                </div>
                                <hr class="white-line">
                                <div class="time">
                                    <h5>7:00PM</h5>
                                </div>
                            </div>
                        </div>
                        <div class="right-wrapper">
                            <div class="main-heading">
                                <h3 class="fnt-txt">Lorem Ipsum is simply dummy text</h3>
                            </div>
                            <div class="description">
                                <h5>Lorem Ipsum is simply dummy text </h5>
                            </div>
                            <div class="feature-button">
                                <div class="nb-data-b"><button class="btn-blue1">Tickets</button></div>
                            </div>
                        </div>
                    </div>
                    <div class="main-wrapper">
                            <div class="left-wrapper">
                                <div class="date-time">
                                    <div class="date">
                                            <h3 class="ldate">18</h3>
                                    <h3 class="ldate">Feb</h3>
                                    </div>
                                    <hr class="white-line">
                                    <div class="time">
                                        <h5>7:00PM</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="right-wrapper">
                                <div class="main-heading">
                                    <h3 class="fnt-txt">Lorem Ipsum is simply dummy text</h3>
                                </div>
                                <div class="description">
                                    <h5>Lorem Ipsum is simply dummy text </h5>
                                </div>
                                <div class="feature-button">
                                    <div class="nb-data-b"><button class="btn-blue1">Tickets</button></div>
                                </div>
                            </div>
                        </div>
                    <div class="main-wrapper">
                        <div class="left-wrapper">
                            <div class="date-time">
                                <div class="date">
                                        <h3 class="ldate">18</h3>
                                    <h3 class="ldate">Feb</h3>
                                </div>
                                <hr class="white-line">
                                <div class="time">
                                    <h5>7:00PM</h5>
                                </div>
                            </div>
                        </div>
                        <div class="right-wrapper">
                            <div class="main-heading">
                                <h3 class="fnt-txt">Lorem Ipsum is simply dummy text</h3>
                            </div>
                            <div class="description">
                                <h5>Lorem Ipsum is simply dummy text </h5>
                            </div>
                            <div class="feature-button">
                                <div class="nb-data-b"><button class="btn-blue1">Tickets</button></div>
                            </div>
                        </div>
                    </div>
                    <div class="main-wrapper">
                        <div class="left-wrapper">
                            <div class="date-time">
                                <div class="date">
                                        <h3 class="ldate">18</h3>
                                        <h3 class="ldate">Feb</h3>
                                </div>
                                <hr class="white-line">
                                <div class="time">
                                    <h5>7:00PM</h5>
                                </div>
                            </div>
                        </div>
                        <div class="right-wrapper">
                            <div class="main-heading">
                                <h3 class="fnt-txt">Lorem Ipsum is simply dummy text</h3>
                            </div>
                            <div class="description">
                                <h5>Lorem Ipsum is simply dummy text </h5>
                            </div>
                            <div class="feature-button">
                                <div class="nb-data-b"><button class="btn-blue1">Tickets</button></div>
                            </div>
                        </div>
                    </div>
                    <div class="main-wrapper">
                        <div class="left-wrapper">
                            <div class="date-time">
                                <div class="date">
                                    <h3 class="ldate">18</h3>
                                    <h3 class="ldate">Feb</h3>
                                </div>
                                <hr class="white-line">
                                <div class="time">
                                    <h5>7:00PM</h5>
                                </div>
                            </div>
                        </div>
                        <div class="right-wrapper">
                            <div class="main-heading">
                                <h3 class="fnt-txt">Lorem Ipsum is simply dummy text</h3>
                            </div>
                            <div class="description">
                                <h5 class="fnt-txt1">Lorem Ipsum is simply dummy text </h5>
                            </div>
                            <div class="feature-button">
                                <div class="nb-data-b"><button class="btn-blue1">Tickets</button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wrapper-right">
                    <div _ngcontent-c0="" class="cards-simple-wrapper pb60">
                            <div _ngcontent-c0="" class=" home-cards">
                              <!--bindings={
                    "ng-reflect-ng-for-of": "[object Object],[object Object"
                  }-->
                  <div class="check">
                  <card _ngcontent-c0="" _nghost-c2="" ng-reflect-img-url="http://tin.info/css/theme01/im" ng-reflect-link="http://tin.info/location/montr" ng-reflect-name="Kids and Family">
                                              <div _ngcontent-c2=""  ng-cloak="" ng-repeat="feature in featuresList.li">
                                                      <div _ngcontent-c2="" class="card-simple" ng-reflect-ng-style="[object Object]" style="background-image: url(&quot;http://tin.info/css/theme01/img/fav1.png&quot;);">
                                                              <div _ngcontent-c2="" class="card-simple-background">
                                                                      <div _ngcontent-c2="" class="card-simple-content">
                                                                              <div _ngcontent-c2="" class="card-simple-rating">
                                                                                      <i _ngcontent-c2="" class="fa fa-star"></i>
                                                                                      <i _ngcontent-c2="" class="fa fa-star"></i>
                                                                                      <i _ngcontent-c2="" class="fa fa-star"></i>
                                                                                      <i _ngcontent-c2="" class="fa fa-star"></i>
                                                                                      <i _ngcontent-c2="" class="fa fa-star"></i>
                                                                              </div>
                                                                              
                                                                              <div _ngcontent-c2="" class="card-simple-actions">
                                                                                      <a _ngcontent-c2="" class="fa fa-bookmark-o" href="#"></a>
                                                                                      <a _ngcontent-c2="" class="fa fa-search" href="http://tin.info/location/montreal-qc-can/featured/kids_family"></a>
                                                                                      <a _ngcontent-c2="" class="fa fa-heart-o" href="#"></a>
                                                                              </div>
                                                                              
                                                                      </div>
                                                                      
                                                                      <div _ngcontent-c2="" class="card-simple-label"><i _ngcontent-c2="" class="fa fa-heartbeat"></i> Label</div>
                                                              </div>
                                                              
                                                              <h2 _ngcontent-c2=""><a _ngcontent-c2="" href="http://tin.info/location/montreal-qc-can/featured/kids_family">Kids and Family</a></h2>
                                                      </div>
                                                      
                                              </div>
                  </card>
                  <div class="check-inner">
                  <card _ngcontent-c0="" _nghost-c2="" ng-reflect-img-url="http://tin.info/css/theme01/im" ng-reflect-link="http://tin.info/location/montr" ng-reflect-name="Attractions">
                                              <div _ngcontent-c2=""  ng-cloak="" ng-repeat="feature in featuresList.li">
                                                      <div _ngcontent-c2="" class="card-simple" ng-reflect-ng-style="[object Object]" style="background-image: url(&quot;http://tin.info/css/theme01/img/fav2.png&quot;);">
                                                              <div _ngcontent-c2="" class="card-simple-background">
                                                                      <div _ngcontent-c2="" class="card-simple-content">
                                                                              <div _ngcontent-c2="" class="card-simple-rating">
                                                                                      <i _ngcontent-c2="" class="fa fa-star"></i>
                                                                                      <i _ngcontent-c2="" class="fa fa-star"></i>
                                                                                      <i _ngcontent-c2="" class="fa fa-star"></i>
                                                                                      <i _ngcontent-c2="" class="fa fa-star"></i>
                                                                                      <i _ngcontent-c2="" class="fa fa-star"></i>
                                                                              </div>
                                                                              
                                                                              <div _ngcontent-c2="" class="card-simple-actions">
                                                                                      <a _ngcontent-c2="" class="fa fa-bookmark-o" href="#"></a>
                                                                                      <a _ngcontent-c2="" class="fa fa-search" href="http://tin.info/location/montreal-qc-can/featured/attractions"></a>
                                                                                      <a _ngcontent-c2="" class="fa fa-heart-o" href="#"></a>
                                                                              </div>
                                                                              
                                                                      </div>
                                                                      
                                                                      <div _ngcontent-c2="" class="card-simple-label"><i _ngcontent-c2="" class="fa fa-heartbeat"></i> Label</div>
                                                              </div>
                                                              
                                                              <h2 _ngcontent-c2=""><a _ngcontent-c2="" href="http://tin.info/location/montreal-qc-can/featured/attractions">Attractions</a></h2>
                                                      </div>
                                                      
                                              </div>
                                            </div>
                                        </div>
                <div class="check">
                  </card><card _ngcontent-c0="" _nghost-c2="" ng-reflect-img-url="http://tin.info/css/theme01/im" ng-reflect-link="http://tin.info/location/montr" ng-reflect-name="Dinning">
                                              <div _ngcontent-c2="" class= ng-cloak="" ng-repeat="feature in featuresList.li">
                                                      <div _ngcontent-c2="" class="card-simple" ng-reflect-ng-style="[object Object]" style="background-image: url(&quot;http://tin.info/css/theme01/img/fav3.png&quot;);">
                                                              <div _ngcontent-c2="" class="card-simple-background">
                                                                      <div _ngcontent-c2="" class="card-simple-content">
                                                                              <div _ngcontent-c2="" class="card-simple-rating">
                                                                                      <i _ngcontent-c2="" class="fa fa-star"></i>
                                                                                      <i _ngcontent-c2="" class="fa fa-star"></i>
                                                                                      <i _ngcontent-c2="" class="fa fa-star"></i>
                                                                                      <i _ngcontent-c2="" class="fa fa-star"></i>
                                                                                      <i _ngcontent-c2="" class="fa fa-star"></i>
                                                                              </div>
                                                                              
                                                                              <div _ngcontent-c2="" class="card-simple-actions">
                                                                                      <a _ngcontent-c2="" class="fa fa-bookmark-o" href="#"></a>
                                                                                      <a _ngcontent-c2="" class="fa fa-search" href="http://tin.info/location/montreal-qc-can/featured/dinning"></a>
                                                                                      <a _ngcontent-c2="" class="fa fa-heart-o" href="#"></a>
                                                                              </div>
                                                                              
                                                                      </div>
                                                                      
                                                                      <div _ngcontent-c2="" class="card-simple-label"><i _ngcontent-c2="" class="fa fa-heartbeat"></i> Label</div>
                                                              </div>
                                                              
                                                              <h2 _ngcontent-c2=""><a _ngcontent-c2="" href="http://tin.info/location/montreal-qc-can/featured/dinning">Dinning</a></h2>
                                                      </div>
                                                      
                                              </div>
                  </card>
                  <div class="check-inner">              <card _ngcontent-c0="" _nghost-c2="" ng-reflect-img-url="http://tin.info/css/theme01/im" ng-reflect-link="http://tin.info/location/montr" ng-reflect-name="Where To Stay">
                                              <div _ngcontent-c2=""  ng-cloak="" ng-repeat="feature in featuresList.li">
                                                      <div _ngcontent-c2="" class="card-simple" ng-reflect-ng-style="[object Object]" style="background-image: url(&quot;http://tin.info/css/theme01/img/fav4.png&quot;);">
                                                              <div _ngcontent-c2="" class="card-simple-background">
                                                                      <div _ngcontent-c2="" class="card-simple-content">
                                                                              <div _ngcontent-c2="" class="card-simple-rating">
                                                                                      <i _ngcontent-c2="" class="fa fa-star"></i>
                                                                                      <i _ngcontent-c2="" class="fa fa-star"></i>
                                                                                      <i _ngcontent-c2="" class="fa fa-star"></i>
                                                                                      <i _ngcontent-c2="" class="fa fa-star"></i>
                                                                                      <i _ngcontent-c2="" class="fa fa-star"></i>
                                                                              </div>
                                                                              
                                                                              <div _ngcontent-c2="" class="card-simple-actions">
                                                                                      <a _ngcontent-c2="" class="fa fa-bookmark-o" href="#"></a>
                                                                                      <a _ngcontent-c2="" class="fa fa-search" href="http://tin.info/location/montreal-qc-can/featured/where_to_stay"></a>
                                                                                      <a _ngcontent-c2="" class="fa fa-heart-o" href="#"></a>
                                                                              </div>
                                                                              
                                                                      </div>
                                                                      
                                                                      <div _ngcontent-c2="" class="card-simple-label"><i _ngcontent-c2="" class="fa fa-heartbeat"></i> Label</div>
                                                              </div>
                                                              
                                                              <h2 _ngcontent-c2=""><a _ngcontent-c2="" href="http://tin.info/location/montreal-qc-can/featured/where_to_stay">Where To Stay</a></h2>
                                                      </div>
                                                      
                                              </div>
                  </card>
                </div>
    
                  </div>
                  <div class="check">
                        <card _ngcontent-c0="" _nghost-c2="" ng-reflect-img-url="http://tin.info/css/theme01/im" ng-reflect-link="http://tin.info/location/montr" ng-reflect-name="Kids and Family">
                                                    <div _ngcontent-c2=""  ng-cloak="" ng-repeat="feature in featuresList.li">
                                                            <div _ngcontent-c2="" class="card-simple" ng-reflect-ng-style="[object Object]" style="background-image: url(&quot;http://tin.info/css/theme01/img/fav1.png&quot;);">
                                                                    <div _ngcontent-c2="" class="card-simple-background">
                                                                            <div _ngcontent-c2="" class="card-simple-content">
                                                                                    <div _ngcontent-c2="" class="card-simple-rating">
                                                                                            <i _ngcontent-c2="" class="fa fa-star"></i>
                                                                                            <i _ngcontent-c2="" class="fa fa-star"></i>
                                                                                            <i _ngcontent-c2="" class="fa fa-star"></i>
                                                                                            <i _ngcontent-c2="" class="fa fa-star"></i>
                                                                                            <i _ngcontent-c2="" class="fa fa-star"></i>
                                                                                    </div>
                                                                                    
                                                                                    <div _ngcontent-c2="" class="card-simple-actions">
                                                                                            <a _ngcontent-c2="" class="fa fa-bookmark-o" href="#"></a>
                                                                                            <a _ngcontent-c2="" class="fa fa-search" href="http://tin.info/location/montreal-qc-can/featured/kids_family"></a>
                                                                                            <a _ngcontent-c2="" class="fa fa-heart-o" href="#"></a>
                                                                                    </div>
                                                                                    
                                                                            </div>
                                                                            
                                                                            <div _ngcontent-c2="" class="card-simple-label"><i _ngcontent-c2="" class="fa fa-heartbeat"></i> Label</div>
                                                                    </div>
                                                                    
                                                                    <h2 _ngcontent-c2=""><a _ngcontent-c2="" href="http://tin.info/location/montreal-qc-can/featured/kids_family">Kids and Family</a></h2>
                                                            </div>
                                                            
                                                    </div>
                        </card>
                        <div class="check-inner">
                        <card _ngcontent-c0="" _nghost-c2="" ng-reflect-img-url="http://tin.info/css/theme01/im" ng-reflect-link="http://tin.info/location/montr" ng-reflect-name="Attractions">
                                                    <div _ngcontent-c2=""  ng-cloak="" ng-repeat="feature in featuresList.li">
                                                            <div _ngcontent-c2="" class="card-simple" ng-reflect-ng-style="[object Object]" style="background-image: url(&quot;http://tin.info/css/theme01/img/fav2.png&quot;);">
                                                                    <div _ngcontent-c2="" class="card-simple-background">
                                                                            <div _ngcontent-c2="" class="card-simple-content">
                                                                                    <div _ngcontent-c2="" class="card-simple-rating">
                                                                                            <i _ngcontent-c2="" class="fa fa-star"></i>
                                                                                            <i _ngcontent-c2="" class="fa fa-star"></i>
                                                                                            <i _ngcontent-c2="" class="fa fa-star"></i>
                                                                                            <i _ngcontent-c2="" class="fa fa-star"></i>
                                                                                            <i _ngcontent-c2="" class="fa fa-star"></i>
                                                                                    </div>
                                                                                    
                                                                                    <div _ngcontent-c2="" class="card-simple-actions">
                                                                                            <a _ngcontent-c2="" class="fa fa-bookmark-o" href="#"></a>
                                                                                            <a _ngcontent-c2="" class="fa fa-search" href="http://tin.info/location/montreal-qc-can/featured/attractions"></a>
                                                                                            <a _ngcontent-c2="" class="fa fa-heart-o" href="#"></a>
                                                                                    </div>
                                                                                    
                                                                            </div>
                                                                            
                                                                            <div _ngcontent-c2="" class="card-simple-label"><i _ngcontent-c2="" class="fa fa-heartbeat"></i> Label</div>
                                                                    </div>
                                                                    
                                                                    <h2 _ngcontent-c2=""><a _ngcontent-c2="" href="http://tin.info/location/montreal-qc-can/featured/attractions">Attractions</a></h2>
                                                            </div>
                                                            
                                                    </div>
                                                  </div>
                                              </div>
                            </div>
                          </div>
            </div>
    
            </section>
            <!-- Section Featured Categ Ends -->
<div class="container-fluid">
        <div class="col-sm-12">
            <div class="header-f">
                <h1 class="f-head">FEATURED NEIGHBOURHOODS</h1>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="image-class"></div>
        </div>
        <div class="col-sm-3">
            <div class=nb-data>
                <div class="nb-data-h"><h3 class="head-h">Westminister</h3></div>
                <div class="nb-data-t"><p class="head-t">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p></div>
                <div class="nb-data-b"><button class="btn-blue">EXPLORE</button></div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="image-class"></div>
        </div>
        <div class="col-sm-3">
            <div class=nb-data>
                <div class="nb-data-h"><h3 class="head-h">Chelsea</h3></div>
                <div class="nb-data-t"><p class="head-t">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p></div>
                <div class="nb-data-b"><button class="btn-blue">EXPLORE</button></div>
            </div>
        </div>
</div>
<div class="container-fluid">
    <div class="col-sm-3">
        <div class=nb-data>
            <div class="nb-data-h"><h3 class="head-h">Mayfair</h3></div>
            <div class="nb-data-t"><p class="head-t">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p></div>                
            <div class="nb-data-b"><button class="btn-blue">EXPLORE</button></div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="image-class"></div>
    </div>
    <div class="col-sm-3">
        <div class=nb-data>
            <div class="nb-data-h"><h3 class="head-h">Shoreditch</h3></div>
            <div class="nb-data-t"><p class="head-t">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p></div>
            <div class="nb-data-b"><button class="btn-blue">EXPLORE</button></div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="image-class"></div>
    </div>
</div>
<section class="featured-rest">
    <div class="container-fluid  p-0">
            <div class="col-sm-12 padding p-0">
               <div class="f-back-img">    
                <div class="container">
                    <div class="a1">
                <div class="f-main">
                        <div class="fr-h1"><p>FEATURED RESTAURANTS</p></div>
                        <div class="fr-h"><p>Restaurant Name</p></div>
                        <div class="fr-t"><p class="head-fr">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p></div>
                        <div class="nb-data-fr"><button class="btn-blue">READ MORE</button></div>
                    </div>
                </div>
                </div>
                    <div class="grad"></div>
                </div>
            </div>
        </div>
</section>
<section class="real-st">
    <div class="wrapper">
        <div class="wr-empty"></div>
            <div class="txt-left">
                <div class="real-h1"><p>CITY PROGRAMS</p></div>
                <div class="real-h"><p>Real Estate</p></div>
                <div class="real-t"><p class="real-fr">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p></div>
                <div class="nb-data-fr"><button class="btn-blue">READ MORE</button></div>
            </div>
    <div class="img-right"> 
        <div id="outer_wrapper">
            <div id="inner_wrapper">
                <div class="box">
                    <img src="Assets/a4.jpg"/>
                </div>
                <div class="box">
                    <img src="Assets/a5.jpg"/>
                </div>
                <div class="box">
                    <img src="Assets/a6.jpg"/>
                </div>
                <div class="box">
                    <img src="Assets/a7.jpg"/>
                </div>
                <div class="box">
                    <img src="Assets/a4.jpg"/>
                </div>
                <div class="box">
                    <img src="Assets/a7.jpg"/>
                </div>
                <div class="box">
                        <img src="Assets/a5.jpg"/>
                </div>
                <div class="box">
                        <img src="Assets/a7.jpg"/>
                </div>
                <div class="box">
                        <img src="Assets/a4.jpg"/>
                </div>
                <div class="box">
                        <img src="Assets/a5.jpg"/>
                </div>
                <div class="box">
                        <img src="Assets/a4.jpg"/>
                </div>
                <div class="box">
                        <img src="Assets/a7.jpg"/>
                </div>
                <div class="box">
                        <img src="Assets/a6.jpg"/>
                </div>
                <div class="box">
                        <img src="Assets/a4.jpg"/>
                </div>
                <div class="box">
                        <img src="Assets/a6.jpg"/>
                </div>
                <div class="box">
                        <img src="Assets/a5.jpg"/>
                </div>
            </div>
        </div>
        <div class="slidecontainer">
            <input type="range" min="1" max="30" value="5" class="slider" id="myRange">
          </div> 
    </div>
</div>
<!-- Footer html starts-->
<footer-block _ngcontent-c0="" _nghost-c6="" ng-reflect-loc-id="1723">
    <div _ngcontent-c6="" class="block background-secondary site_ma">
   <div _ngcontent-c6="" class="container-fluid footer-list-container">
       <div _ngcontent-c6="" class="row">
   
   
   
       <div _ngcontent-c6="" class="col-md-2">
           <div _ngcontent-c6="" class="p-div">
               <p _ngcontent-c6="" class="heading">  ABOUT</p>
           </div>
           <ul _ngcontent-c6="" class="footer-list">
   
               <li _ngcontent-c6="">Overview</li>
               <li _ngcontent-c6="">Demographics</li>
               <li _ngcontent-c6="">Geography</li>
               <li _ngcontent-c6="">Economy</li>
               <li _ngcontent-c6="">History</li>
               <li _ngcontent-c6="">Politics</li>
           </ul>
       </div>
   
   
           <div _ngcontent-c6="" class="col-md-2">
               <div _ngcontent-c6="" class="p-div">
                   <p _ngcontent-c6="" class="heading">  CULTURE</p>
               </div>
               <ul _ngcontent-c6="" class="footer-list">
   
                   <li _ngcontent-c6="">Theatre</li>
                   <li _ngcontent-c6="">Opera</li>
                   <li _ngcontent-c6="">Art</li>
                   <li _ngcontent-c6="">Sports</li>
                   <li _ngcontent-c6="">Art </li>
                   <li _ngcontent-c6="">Music</li>
               </ul>
           </div>
   
           <div _ngcontent-c6="" class="col-md-2">
               <div _ngcontent-c6="" class="p-div">
                   <p _ngcontent-c6="" class="heading">  TOURISM</p>
               </div>
               <ul _ngcontent-c6="" class="footer-list">
   
                   <li _ngcontent-c6="">Where To Eat</li>
                   <li _ngcontent-c6="">Where To Sleep</li>
                   <li _ngcontent-c6="">Shopping</li>
                   <li _ngcontent-c6="">Kids And Family</li>
                   <li _ngcontent-c6="">Shopping</li>
                   <li _ngcontent-c6="">Nightlife</li>
               </ul>
           </div>
   
           <div _ngcontent-c6="" class="col-md-2">
               <div _ngcontent-c6="" class="p-div">
                   <p _ngcontent-c6="" class="heading"> SERVICES</p>
               </div>
               <ul _ngcontent-c6="" class="footer-list">
   
                   <li _ngcontent-c6="">Gym Memberships</li>
                   <li _ngcontent-c6="">Cell Phone Carriers</li>
                   <li _ngcontent-c6="">Bus Service</li>
                   <li _ngcontent-c6="">Trains</li>
                   <li _ngcontent-c6="">Bus Service</li>
                   <li _ngcontent-c6="">Cart House</li>
               </ul>
           </div>
   
           <div _ngcontent-c6="" class="col-md-2">
               <div _ngcontent-c6="" class="p-div">
                   <p _ngcontent-c6="" class="heading">GOVERNMENT</p>
               </div>
               <ul _ngcontent-c6="" class="footer-list">
   
                   <li _ngcontent-c6="">Passport</li>
                   <li _ngcontent-c6="">Embassy</li>
                   <li _ngcontent-c6="">Cassino</li>
                   <li _ngcontent-c6="">Lottery</li>
                   <li _ngcontent-c6="">Cassino</li>
                   <li _ngcontent-c6="">General</li>
               </ul>
           </div>
   
           <div _ngcontent-c6="" class="col-md-2">
               <div _ngcontent-c6="" class="p-div">
                   <p _ngcontent-c6="" class="heading"> BUSINESS</p>
               </div>
               <ul _ngcontent-c6="" class="footer-list">
   
                   <li _ngcontent-c6="">Montreal Museum Day</li>
                   <li _ngcontent-c6="">Montreal Sugar Ball</li>
                   <li _ngcontent-c6="">Upcomming Concerts</li>
                   <li _ngcontent-c6="">Burlesque</li>
                   <li _ngcontent-c6="">Festivals</li>
                   <li _ngcontent-c6="">Sports activities</li>
               </ul>
           </div>
       </div>
   </div>
   </div>
   <footer _ngcontent-c6="" class="footer">
       <div _ngcontent-c6="" class="footer-top">
           <div _ngcontent-c6="" class="container">
               <div _ngcontent-c6="" class="row">
                   <div _ngcontent-c6="" class="col-sm-4">
                       <p _ngcontent-c6="" class="p-one">The Information is a global Community Development Agency connecting people, places and things</p>
                       <h3 _ngcontent-c6="" class="about-h">About TIN</h3>
                   </div>
                   
   
                   <div _ngcontent-c6="" class="col-sm-4">
                       <h2 _ngcontent-c6="">Contact Information</h2>
   
                       <p _ngcontent-c6="">
                           8920 Woodbine Avenue, Suite 202 Markham, ON L3R 9W9<br _ngcontent-c6=""> 888 234 5678, <a _ngcontent-c6="" href="mailto:contact@tin.info">contact@tin.info</a>
                       </p>
                   </div>
                   
   
                   <div _ngcontent-c6="" class="col-sm-4">
                       <h2 _ngcontent-c6="">Stay Connected</h2>
   
                       <ul _ngcontent-c6="" class="social-links nav nav-pills">
                           <li _ngcontent-c6=""><a _ngcontent-c6="" href="#"><i _ngcontent-c6="" class="fa fa-twitter"></i></a></li>
                           <li _ngcontent-c6=""><a _ngcontent-c6="" href="#"><i _ngcontent-c6="" class="fa fa-facebook"></i></a></li>
                           <li _ngcontent-c6=""><a _ngcontent-c6="" href="#"><i _ngcontent-c6="" class="fa fa-google-plus"></i></a></li>
                           <li _ngcontent-c6=""><a _ngcontent-c6="" href="#"><i _ngcontent-c6="" class="fa fa-linkedin"></i></a></li>
                           <li _ngcontent-c6=""><a _ngcontent-c6="" href="#"><i _ngcontent-c6="" class="fa fa-dribbble"></i></a></li>
                           <li _ngcontent-c6=""><a _ngcontent-c6="" href="#"><i _ngcontent-c6="" class="fa fa-instagram"></i></a></li>
                           <li _ngcontent-c6=""><a _ngcontent-c6="" href="#"><i _ngcontent-c6="" class="fa fa-pinterest-p"></i></a></li>
                       </ul>
                       
                   </div>
                   
               </div>
               
           </div>
           
       </div>
       
           <div _ngcontent-c6="" class="footer-bottom">
           <div _ngcontent-c6="" class="container">
               <div _ngcontent-c6="" class="footer-bottom-left">
                   © 2017 All rights reserved. Powered by <a _ngcontent-c6="" href="www.tin.ca">TIN</a>.
               </div>
               <div _ngcontent-c6="" class="footer-bottom-right">
                   <ul _ngcontent-c6="">
                       <li _ngcontent-c6="">Home</li>
                       <li _ngcontent-c6="">Pricing</li>
                       <li _ngcontent-c6="">Terms &amp; Conditions</li>
                       <li _ngcontent-c6="">Contact</li>
                   </ul>
               </div>
               
   
               
               
           </div>
           
       </div>
   </footer>
   
</footer-block> 
<!-- Footer html ends    -->
</section>
</body>